*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #e36c18;
color: rgb(14, 1, 1);
}
.titulo{
    font-family: "Pacifico",cursive;
    font-size: 3rem;
    font-weight: bolder;
    font-style: normal;
    text-align: center;

}
.clase1 {
    text-align: center;
 font-size: 2rem;
}
.clase2{
    text-align: center;
    font-size: 2rem;
}

.clase3{
    text-align: center;
    font-size: 2rem;
}

.clase4{
    text-align: center;
    font-size: 2rem;
}